body {
    min-width: 900px;
    font-family: PTSans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.searchSubmit {
    background: transparent url('../Images/SearchButtom.png') no-repeat center top;
}

.header{
    background-color: white;
}

.logo {
    height: 100px;
    width: 175px;
    display: inline-block;
    float: left;
    margin: 20px 30px 20px 0;
}

.layout-positioner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.layout-positioner:after {
    content:'';
    clear:both;
    display:table;
}

.login_positioner {
    border: 1px solid lightgray;
    width: 180px;
    height: 60px;
    margin-left: 266px;
    text-align: center;
    font-size: x-small;
    border-radius: 5px;
}

.user {
    font-size: small;
    text-decoration: underline;
}


.car-positioner:after {
    content:'';
    clear:both;
    display:table;
}

.search {
    float: left;
    height: 60px;
    width: 45%;
    margin: 30px 0 0 0;
    background-color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
}

.rightHeader {
    float: left;
    height: 100px;
    width: 440px;
    margin: 30px 0 0 0;
    position: relative;
}

.inputSearch  {
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 90%;
    text-indent: 15px;
    margin: 5px 0 5px 5px;
}

.submitSearchBottom {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    float: right;
    border-radius: 10px;
    background: url("../Images/SearchButtom.png") no-repeat center;
    background-size: 30px;
}

.ToCar {
    width: 180px;
    height: 60px;
    border-radius: 10px;
    text-indent: 50px;
    line-height: 60px;
    box-shadow: inset -1px -1px 0 rgba(0,0,0,.2);
    border: solid rgb(224,224,224) 1px;
    color: black;
    background: url("../Images/Car.png") no-repeat 15% 50%;
    background-size: 35px;
    margin-left: 40px;
}

.headCar {
    float: left;
    text-indent: 80px;

}

.ToCar:hover {
    box-shadow: inset 0 0 15px rgba(163,255,42,1);
}

.login_cell {
    width: 100%;
    border: solid rgb(224,224,224) 1px;
    padding: 7px 0;
    text-align: center;
    color: black;
    font-size: small;
}

.entry_button {
    border-bottom: none;
    background-color: rgb(220,220,220);
}

.logout_button {
    float: none;
    margin: 5px 0 0 42px;
    height: 15px;
    padding: 2px;
    width: 90px;
}

.entry-positioner {
    border: none;
}

.login_cell:hover {
    background-color: rgb(220,220,220);
}


.catalog {
    background-color: lightgreen;
    border-radius: 5%;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}
.category_name {
    background-color: lightgreen;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
}

.main-menu {
    float: left;
    margin-top:20px;
    width: 225px;
    margin-right: 69px;
}
.main-menu ul {
    margin: 0;
    padding: 0;
}
.main-menu li a{
    display: block;
    border-bottom: 1px solid lightgreen;
    padding: 15px;
    color: black;
}
.main-menu > ul > li {
    position:relative;
}
.main-menu li ul {
    position:absolute;
    display: none;
    top: 0;
    left: 225px;
    width: 200px;
    background-color: white;
    border: 1px solid lightgray;
    border-left: 4px solid lightgray;
}
.main-menu > ul > li > a:hover {
    background-color: lightgreen;
}
.main-menu > ul > li:hover ul{
    display: block;
}
.main-menu > ul > li li:hover {
    background-color: lightgreen;
}

li {
    list-style: none;
    display: block;
}

a {
    text-decoration: none;
}

.main-part {
    float: left;
    width: 900px;
    margin: 20px 0;
}

.HelloDiv {
    margin-top: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: 200;
}

.footer {
    background-color: lightgray;
    margin-bottom: 2%;
}

.central-part {
    background-color: rgb(243,243,243);
    box-shadow: inset 0 0 10px rgba(0,0,0,.2);
}

.main-window {
    display: table;
    margin: 0;
    border-spacing: 20px;
}

.row {
    display: inline-block;
    margin: 0;

}
.item {
    float: left;
    width: 256px;
    display: block;
    border: 1px solid #C09853;
    text-align: center;
    padding: 10px;
    height: 400px;
    margin: 0 4px 6px 0;
    color: black;
}

.main-image {
    margin-left: 28px;
    height: 200px;
    width: 200px;
    border: solid lightgray 1px;
}

.product-name {
    height: 60px;
    width: 90%;
    margin-top: 15px;
    color: black;
    padding: 0 10px;
}

.Price {
    color: black;
    font-size: large;
    text-align: center;
    margin-bottom: 15px;
}

.Product-item {
    width: 850px;
    height: 150px;
    margin-bottom: 5px;
}

img {
    width: 100%;
    height: 100%;
}

.Product-itemTable {
    display: table;
    border-collapse: collapse;
}

.Product-itemRow {
    display: table-row;
    border-bottom: solid lightgreen 1px;
}

.Product-itemRow:hover {
    box-shadow: inset 0 2px 0 rgba(163,255,42,.4);
}

.product-Cell-image,.product-nameCell, .PriceCell, .Car-Cell   {
    display: table-cell;
    vertical-align: middle;
}

.image-div {
    width: 150px;
    height: 150px;
}

.ToCarPP {
    text-indent: 80px;
}

.ProductID {
    color: rgb(150, 150, 150);
    margin: 20px 0;
}

.product-image {
    height: 300px;
    width: 300px;
}

.ProductPrice {
    font-size: 30px;
    border: dashed black;
    text-align: center;
    margin: 50px 0 10px 40px;
    width: 175px;
}

.main-windowProd {
    padding-left: 20px;
    border: solid lightgray 1px;
    width: 875px;
    box-shadow: inset 0 -2px 2px rgba(0,0,0,.2);
    background: white;
    border-radius: 10px;
}

.inStock {
    margin: 10px 0 0 40px;
    height: 60px;
    width: 175px;
    text-align: center;
}

.Product-itemRowNoHover:hover {
    box-shadow: none;
}

.PriceStockCar-div {
    margin-left: 60px;
}

.descriptionH {
    margin-top: 40px;
    height: 30px;
    width: 140px;
    border-top: solid lightgreen 3px;
    text-align: center;
    padding-top: 20px;
    border-right: solid lightgray 1px;
    border-left: solid lightgray 1px;
    background: white;
    border-radius: 10px 10px 0 0;
}

.product-tittle-name, .DescMyCar{
    margin: 30px 0 0 0;
    font-size: 20px;
}

.description {
    width: 855px;
    background: white;
    padding: 20px;
    border: solid 1px lightgray;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .2);
}

/* CarPage */

.main-windowCar {
    display: table;
    margin: 15px 0 15px 0;
    border-spacing: 2px;
    width: 1196px;
    border: solid gray 1px;
}

.PriceDiv {
    font-size: 30px;
    border: dashed black;
    text-align: center;
    margin: 0px 0 10px 40px;
    width: 175px;
}

.image-divCar {
    margin: 5px 0;
}

.AmountCell {
    display: table-cell;
    width: 350px;
    padding: 10px 0;
}

.product-nameCar {
    width: 60%;
}

.amount-product {
    height: 38px;
    width: 45px;
    border: solid grey 1px;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    font-size: 15px;
}

.AmountField {
    margin-left: 20px;
}

.MPbutton {
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 38px;
    width: 35px;
}
.Min-button {
    background: lightseagreen;
}

.Plus-button {
    background: lightgreen;
}

.Product-delete {
    float: right;
    height: 40px;
    width: 35px;
    background: white;
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
    border: solid grey 1px;
    margin-right: 8px;
}

.PriceDiv {
    margin: 20px 0 10px 0;
}

.InTotal {
    height: 65px;
    font-size: 20px;
    padding: 20px 0 0 820px;
}

.TotalPrice {
    float: right;
    font-size: 30px;
    margin: 0px 110px 0px 0px;
    width: 175px;
}

.submitOffer {
    height: 50px;
    width: 200px;
    font-size: large;
    float: right;
    margin: 20px 200px 40px 0;
    border: solid lightgreen 1px;
    border-radius: 10px;
    background-color: lightgreen;
    box-shadow: inset -2px -2px 0px rgba(0, 0, 0, .2);

}

.submitOffer:hover {
    box-shadow: inset 0 0px 10px rgba(0, 0, 0, .2);
}

.PopularPart {
    width: 1198px;
}

.Popular-Window-in-Car{
    margin: 20px 0 20px 0;
    padding-left: 40px;
}

/* login_form */

.page-tittle {
    margin: 10px 0 0 0;
    font-size: 20px;
}

.login_form .error-msg {
    text-align: center;
    font-size: 10pt;
    border: 2px solid red;
    padding: 0.5em;
    border-radius: 5px;
    background-color: lightpink;
}


.login_form input[type="submit"],
.login_form input[type="reset"] {
    font-size: 12pt;
    padding: 0.3em 1em;
    color: black;
    background-color: lightgreen;
    border: 1px solid lightgray;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.login_form input[type="submit"]:hover,
.login_form input[type="reset"]:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
    transition: all 0.5s ease;
}

.login_form {
    width: 400px;
    margin-bottom: 50px;
}

.login-row {
    margin: 20px 0 20px 0;
}

.login_form label {
    width: 10em;
    display: inline-block;
}

.login_form span.required {
    color: red;
}

.login_form input[type="text"],
.login_form input[type="password"] {
    font-size: 16pt;
    width: 99%;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 10px ;
}

.login_form input[type="text"]:focus,
.login_form input[type="password"]:focus {
    box-shadow: inset 0 0px 5px rgba(0, 0, 0, .2);
}

.bottom-login {
    text-align: center;
}


.login-row a{
    color: green;
}

.login-row a:hover{
    text-decoration:underline;
}

.login_form input[type="submit"], .login_form input[type="reset"] {
    width: 180px;
}


/* register_form */

.login_form input[type="radio"] + label, .login_form input[type="checkbox"] + label {
    width: auto;
    padding-left: 0px;
}

.registration-gender {
    display: block;
    width: 100px;
    float: left;
}

.error-field input[type="text"], .error-field input[type="password"]{
    border: solid lightcoral 2px;
}