body {
    min-width: 900px;
    font-family: PTSans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.searchSubmit {
    background: transparent url('../Images/SearchButtom.png') no-repeat center top;
}

.header{
    background-color: white;
}

.logo {
    height: 100px;
    width: 175px;
    display: inline-block;
    float: left;
    margin: 20px 30px 20px 0px;
}

.layout-positioner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.layout-positioner:after {
    content:'';
    clear:both;
    display:table;
}

.search {
    float: left;
    height: 60px;
    width: 52%;
    margin: 30px 70px 0px 0px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,.3);
}

.rightHeader {
    float: left;
    height: 60px;
    width: 300px;
    margin: 30px 0px 0px 0px;
}

.inputSearch  {
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 90%;
    text-indent: 15px;
    margin: 5px 0 5px 5px;
}

.submitSearchBottom {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    float: right;
    border-radius: 10px;
    background: url("../Images/SearchButtom.png") no-repeat center;
    background-size: 30px;
}

.ToCar {
    width: 180px;
    height: 60px;
    border-radius: 10px;
    text-indent: 50px;
    line-height: 60px;
    box-shadow: inset -1px -1px 0px rgba(0,0,0,.2);
    border: solid rgb(224,224,224) 1px;
    color: black;
    background: url("../Images/Car.png") no-repeat 15% 50%;
    background-size: 35px;
    margin-left: 40px;
}

.ToCar:hover {
    box-shadow: inset 0 0 15px rgba(163,255,42,.5);
}

.headCar {
    float: left;
    margin-left: 0;
    text-indent: 80px;
}


.login_cell {
    width: 90px;
    border: solid rgb(224,224,224) 1px;
    float: right;
    padding: 7px 0px;
    text-align: center;
    color: black;
    font-size: small;
}

.entry_button {
    border-bottom: none;
    background-color: rgb(220,220,220);
}

.login_cell:hover {
    background-color: rgb(220,220,220);
}


.catalog {
    background-color: lightgreen;
    border-radius: 5%;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}
.category_name {
    background-color: lightgreen;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
}

.main-menu {
    float: left;
    margin-top:20px;
    width: 225px;
    margin-right: 69px;
}
.main-menu ul {
    margin: 0;
    padding: 0;
}
.main-menu li a{
    display: block;
    border-bottom: 1px solid lightgreen;
    padding: 15px;
    color: black;
}
.main-menu > ul > li {
    position:relative;
}
.main-menu li ul {
    position:absolute;
    display: none;
    top: 0;
    left: 225px;
    width: 200px;
    background-color: white;
    border: 1px solid lightgray;
    border-left: 4px solid lightgray;
}
.main-menu > ul > li > a:hover {
    background-color: lightgreen;
}
.main-menu > ul > li:hover ul{
    display: block;
}
.main-menu > ul > li li:hover {
    background-color: lightgreen;
}

li {
    list-style: none;
    display: block;
}

a {
    text-decoration: none;
}

.main-part {
    float: left;
    width: 900px;
    margin: 20px 0;
}

.HelloDiv {
    margin-top: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: 200;
}

.footer {
    background-color: lightgray;
    margin-bottom: 2%;
}

.central-part {
    background-color: rgb(243,243,243);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,.2);
}

.main-window {
    display: table;
    margin: 0;
    border-spacing: 20px;
}

.row {
    display: inline-block;
    margin: 0;

}
.item {
    float: left;
    width: 256px;
    display: block;
    border: 1px solid #C09853;
    text-align: center;
    padding: 10px;
    height: 400px;
    margin-right: 4px;
    color: black;
}

.main-image {
    margin-left: 28px;
    height: 200px;
    width: 200px;
    border: solid gray 1px;
}

.product-name {
    height: 60px;
    width: 90%;
    margin: 15px 5%;
    color: black;
}

.Price {
    color: black;
    font-size: large;
    text-align: center;
    margin-bottom: 15px;
}

